{% load humanize %}
<div class="card mb-3">
    <div class="card-header bg-primary">
        <a class="text-white text-decoration-none"
           data-bs-toggle="collapse"
           href="#issues-body">{{ issues_table_title|default_if_none:"Issues" }} ({{ issues|length }})</a>
    </div>
    <div id="issues-body" class="card-body collapse show">
        <div class="d-flex flex-row align-items-center flex-wrap column-selector"
             data-table-class="issues"
             data-table-downloadable-as="issues.csv"></div>
        <table class="table table-striped table-hover table-bordered table-sm sortable issues filtrable"
               id="table-issues">
            <thead class="align-top">
                <tr>
                    <th data-filtrable-name="bug_id" data-visibility="always">Issue</th>
                    <th data-filtrable-name="bug_status" data-visibility="show">Bug Status</th>
                    <th data-filtrable-name="bug_updated_on" class="filtrable-date">Last Updated</th>
                    <th data-filtrable-name="bug_title" data-visibility="show">Bug Summary</th>
                    <th data-filtrable-name="filter_description" data-visibility="show">Filters</th>
                    <th data-visibility="show" class="filtrable-nofilter">Status</th>
                    <th data-filtrable-name="bug_component">Component</th>
                    <th data-filtrable-name="bug_assignee_name">Assignee</th>
                    <th data-filtrable-name="bug_severity">Severity</th>
                    <th data-visibility="show" class="filtrable-nofilter">Failure Rate</th>
                    <th data-visibility="show" class="sorttable_nosort filtrable-nofilter">Actions</th>
                    {# Remember to change the colspan value under ;) #}
                </tr>
            </thead>
            <tbody>
                {% for issue in issues %}
                    <tr id="issue_{{ forloop.counter0 }}">
                        <!-- Bug ID -->
                        <td>
                            <a href="{% url 'CIResults-issue-detail' issue.id %}">Issue {{ issue.id }}</a>:
                            <ul>
                                {% for bug in issue.bugs_cached %}
                                    <li>{% include "CIResults/basic/bug.html" %}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <!-- Bug Status -->
                        <td>
                            <ul>
                                {% for bug in issue.bugs_cached %}<li>{{ bug.status }}</li>{% endfor %}
                            </ul>
                        </td>
                        <!-- Bug Updated -->
                        <td>
                            <ul>
                                {% for bug in issue.bugs_cached %}<li>{{ bug.updated|timesince }} ago</li>{% endfor %}
                            </ul>
                        </td>
                        <!-- Bug Summary -->
                        <td>
                            <ul>
                                {% for bug in issue.bugs_cached %}<li>{{ bug.title }}</li>{% endfor %}
                            </ul>
                        </td>
                        <!-- Filters -->
                        <td>
                            <ul>
                                {% for ifa in issue.active_filters %}
                                    <li>
                                        {% include "CIResults/basic/ifa.html" %}
                                        : {{ ifa.failure_rate }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </td>
                        <!-- Status -->
                        {% if issue.archived %}
                            <td data-sorttable-customkey="{{ issue.archived_on|date:'U' }}">
                                <a href="#issue_{{ forloop.counter0 }}">Archived {{ issue.archived_on|timesince }} ago</a>
                            </td>
                        {% else %}
                            <td data-sorttable-customkey="{{ issue.last_seen|date:'U' }}">
                                <a href="#issue_{{ forloop.counter0 }}">
                                    {% if issue.last_seen is not None %}
                                        Last seen {{ issue.last_seen|timesince }} ago
                                    {% else %}
                                        Never seen
                                    {% endif %}
                                </a>
                            </td>
                        {% endif %}
                        <!-- Bug Component -->
                        <td>
                            <ul>
                                {% for bug in issue.bugs_cached %}<li>{{ bug.component }}</li>{% endfor %}
                            </ul>
                        </td>
                        <!-- Bug Assignee -->
                        <td>
                            <ul>
                                {% for bug in issue.bugs_cached %}
                                    <li>{% include "CIResults/basic/account.html" with account=bug.assignee %}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <!-- Bug Severity -->
                        <td>
                            <ul>
                                {% for bug in issue.bugs_cached %}<li>{{ bug.severity }}</li>{% endfor %}
                            </ul>
                        </td>
                        <!-- Failure rate -->
                        <td data-sorttable-customkey="{{ issue.failure_rate.rate }}">
                            <a href="{% url 'CIResults-issue-detail' issue.id %}">{{ issue.failure_rate }}</a>
                        </td>
                        <!-- Actions -->
                        <td>
                            <div class="btn-group">
                                {% if issue.description|length > 0 %}
                                    <a class="btn btn-outline-secondary"
                                       title="Read the description"
                                       data-inform="{{ issue.description }}"><i class="bi bi-chat-left-text"></i></a>
                                {% endif %}
                                {% if not issue.expected and perms.CIResults.hide_issue %}
                                    <a href="{% url 'CIResults-issue' issue.id 'hide' %}"
                                       class="btn btn-outline-secondary"
                                       title="Mark this issue as expected and hide it from the active list"
                                       data-confirmation="Are you sure you want to mark this issue as expected, and hide it from the active issues?"
                                       data-confirmation-reload><i class="bi bi-eye-slash"></i></a>
                                {% elif issue.expected and perms.CIResults.show_issue %}
                                    <a href="{% url 'CIResults-issue' issue.id 'show' %}"
                                       class="btn btn-outline-secondary"
                                       title="Mark this issue as unexpected and show it in the active list"
                                       data-confirmation="Are you sure you want to mark this issue as unexpected, and make it appear in the list of active issues?"
                                       data-confirmation-reload><i class="bi bi-eye"></i></a>
                                {% endif %}
                                {% if not issue.archived %}
                                    {% if perms.CIResults.change_issue %}
                                        <a href="{% url 'CIResults-issue' issue.id 'edit' %}"
                                           class="btn btn-outline-secondary"
                                           data-bs-toggle="tooltip"
                                           title="Edit the issue"><i class="bi bi-pencil"></i></a>
                                    {% endif %}
                                    {% if perms.CIResults.archive_issue %}
                                        <a href="{% url 'CIResults-issue' issue.id 'archive' %}" class="btn btn-outline-secondary" data-bs-toggle="tooltip" title="Delete/Archive the issue" data-confirmation="
                                            <p>Are you sure you want to archive the covering the following bugs?</p>
                                            <ul>
                                                {% for bug in issue.bugs_cached %}<li>{{ bug }}</li>{% endfor %}
                                            </ul>
                                        " data-confirmation-reload><i class="bi bi-archive"></i></a>
                                    {% endif %}
                                {% elif issue.archived and perms.CIResults.restore_issue %}
                                    <a href="{% url 'CIResults-issue' issue.id 'restore' %}" class="btn btn-outline-secondary" data-bs-toggle="tooltip" title="Restore the issue" data-confirmation="
                                        <p>Are you sure you want to restore the covering the following bugs?</p>
                                        <ul>
                                            {% for bug in issue.bugs_cached %}<li>{{ bug }}</li>{% endfor %}
                                        </ul>
                                    " data-confirmation-reload><i class="bi bi-share"></i></a>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="11" style="text-align: center;">No issues found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <p class="tracker_polled">
            <small class="text-muted">Bug state refreshed:
                {% for tracker in trackers %}
                    {{ tracker.name }}: {{ tracker.polled|naturaltime }}
                    {% if not forloop.last %};{% endif %}
                {% endfor %}
            </small>
        </p>
    </div>
</div>
