{% with page_name=page_name|default:"" %}
    <nav>
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link"
                       href="{% querystring query_get_param table=page_name page=page_obj.previous_page_number page_size=page_obj.paginator.per_page %}">&laquo;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link"><span>&laquo;</span></a>
                </li>
            {% endif %}
            {% if page_obj.number|add:'-4' > 1 %}
                <li class="page-item">
                    <a class="page-link"
                       href="{% querystring query_get_param table=page_name page=1 page_size=page_obj.paginator.per_page %}">1</a>
                </li>
                {% if page_obj.number|add:'-5' > 1 %}
                    <li class="page-item">
                        <a class="page-link">&hellip;</a>
                    </li>
                {% endif %}
            {% endif %}
            {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="page-item active">
                        <a class="page-link"><span>{{ i }} <span class="visually-hidden">(current)</span></span></a>
                    </li>
                {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
                    <li class="page-item">
                        <a class="page-link"
                           href="{% querystring query_get_param table=page_name page=i page_size=page_obj.paginator.per_page %}">{{ i }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
                {% if page_obj.paginator.num_pages > page_obj.number|add:'5' %}
                    <li class="page-item">
                        <a class="page-link">&hellip;</a>
                    </li>
                {% endif %}
                <li class="page-item">
                    <a class="page-link"
                       href="{% querystring query_get_param table=page_name page=page_obj.paginator.num_pages page_size=page_obj.paginator.per_page %}">{{ page_obj.paginator.num_pages }}</a>
                </li>
            {% endif %}
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link"
                       href="{% querystring query_get_param table=page_name page=page_obj.next_page_number page_size=page_obj.paginator.per_page %}">&raquo;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link"><span>&raquo;</span></a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endwith %}
