{% load helpers %}
<style>
    .CodeMirror {
        width: calc(100% - 250px);
    }
</style>
{# djlint:off #} {# Disabled due to djLint bug with formatting these lines #}
<{{ is_embeded|yesno:"div,form" }} class="d-flex gap-2 flex-row align-items-center flex-wrap search_bar text-center {% if not query.is_valid %}has-error{% endif %}" method='post'
        action="{% if filter_url is not None %}{{filter_url}}{% else %}{{request.path}}{% endif %}">
{# djlint:on #}
<label for="userFilteringQuery">Filter</label>
<input type="text"
       id="userFilteringQuery"
       class="form-control"
       placeholder="Query"
       name="query"
       value="{{ query.user_query }}" />
{% include "CIResults/basic/cibuglog_query_input.html" %}
{% csrf_token %}
<script>
        var KEY_ESCAPE = 27;

        var textarea = document.getElementById("userFilteringQuery");
        var cm = CodeMirror.fromTextArea(textarea, {
            mode: "cibuglog-query",
            lineNumbers: false,
            viewportMargin: Infinity,
            matchBrackets: true,
            extraKeys: {
                "Ctrl-Space": "autocomplete",
                "Enter": function(cm) {
                    $("#userFilteringQuery").parent('form').submit();
                }
            },
        });

        cm.on("keyup", function (cm, event) {
            if (!cm.state.completionActive && event.keyCode != KEY_ESCAPE) {
                CodeMirror.commands.autocomplete(cm, null, {
                    completeSingle: false,
                });
            }
        });
        cm.on("focus", function (cm, event) {
            if (!cm.state.completionActive) {
                CodeMirror.commands.autocomplete(cm, null, {
                    completeSingle: false,
                });
            }
        });

        {% if request.method == "POST" or "query" not in request.get_full_path %}
        sep = window.location.href.includes('?') ? '#' : '?';
        history.pushState(null, null, window.location.href + sep + "query_key={{query.query_key}}");
        {% endif %}
</script>
{% if not is_embeded %}<button type="submit" class="btn btn-primary m-sm-2">Filter</button>{% endif %}
<a href="#"
   class="btn btn-secondary mtb-2"
   title="Help!"
   data-inform-target="searchbox_doc"><i class="bi bi-question-circle"></i></a>
</{{ is_embeded|yesno:"div,form" }}>
<div id="searchbox_doc" class="d-none">
    <p>This view allows you to restrict the data that is used to generate the metrics.</p>
    <p>The base of the query language is structured as followed. A basic expression follows the following format:</p>
    <p>$object $operator $value</p>
    <p>
        The base expressions can then be combined with each other using the AND, OR, or NOT operators. Priorities should be enforced using parenthesis.
    </p>
    <h4>Available objects and values</h4>
    <p>The following objects can be used for filtering:</p>
    <table class="table table-striped table-hover table-bordered table-sm sortable">
        <tr>
            <th>Object name</th>
            <th>Type</th>
            <th>Description</th>
        </tr>
        {% for obj_name, filter in filters_model.filter_objects_to_db.items %}
            <tr>
                <td>{{ obj_name }}</td>
                <td>
                    <span class="userfilter_object_type" title="{{ filter.documentation }}">{{ filter.data_type }}</span>
                </td>
                <td>{{ filter.description }}</td>
            </tr>
        {% endfor %}
    </table>
    <h4>Available helpers</h4>
    <table class="table table-striped table-hover table-bordered table-sm">
        <tr>
            <th>Helper</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>ago(duration)</td>
            <td>
                Allows specifying a datetime as a relative time from now. For example ago(3 days 12:00:00) means the time it was 3 days and 12 hours ago.
            </td>
        </tr>
    </table>
    <h4>Available operators</h4>
    <table class="table table-striped table-hover table-bordered table-sm">
        <tr>
            <th>Operator</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>=, !=</td>
            <td>Check if the object is equal / not equal to the value. Applicable to all types of value</td>
        </tr>
        <tr>
            <td>&gt;, &lt;, &gt;=, &lt;=</td>
            <td>Make comparisons. Applicable to integer, datetime and duration types</td>
        </tr>
        <tr>
            <td>CONTAINS, ICONTAINS</td>
            <td>
                Check if the object contains the substring given as a value. Use ICONTAINS for the search to be case-incensitive
            </td>
        </tr>
        <tr>
            <td>MATCHES, ~=</td>
            <td>Check if the object matches a certain regular expression</td>
        </tr>
        <tr>
            <td>IS IN, NOT IN</td>
            <td>Check if the object is in (or not in) a list of values. Example: runconfig_name IS IN ['RUN1', 'RUN2'].</td>
        </tr>
        <tr>
            <td>LIMIT</td>
            <td>Limits number of results. Example: runconfig_name IS IN ['RUN1', 'RUN2'] ORDER_BY runconfig_name LIMIT 5.</td>
        </tr>
        <tr>
            <td>ORDER_BY</td>
            <td>
                Orders results by value. Use "-" to reverse ordering. Example: runconfig_name MATCHES 'RUN' ORDER_BY -runconfig_name LIMIT 2.
            </td>
        </tr>
    </table>
    <h4>Examples</h4>
    <ol>
        <li>
            <a href="{{ metrics_passrate_url }}?query=runconfig_added_on > datetime(2018-12-12)">runconfig_added_on > datetime(2018-12-12)</a>: Only use the data coming from run configurations added after 2018-12-12
        </li>
        <li>
            <a href="{{ metrics_bugs_url }}?query=NOT creator_email CONTAINS toto.tata@">NOT creator_email CONTAINS toto.tata@</a>: do not use data created by a person who has toto.tata@ in his/her email address
        </li>
        <li>
            <a href="{{ metrics_bugs_url }}?query=NOT creator_email CONTAINS toto.tata@ AND status CONTAINS 'WONTFIX'">NOT creator_email CONTAINS toto.tata@ AND status CONTAINS 'WONTFIX'</a>: Same as the previous example, but further restrict the results by only displaying bugs whose status contains the string WONTFIX
        </li>
        <li>
            <a href="{{ metrics_passrate_url }}?query=(runconfig_name CONTAINS 'DRM_39' OR runconfig_name CONTAINS 'DRM_389') AND runconfig_added_on < datetime(2018-12-12)">(runconfig_name CONTAINS 'DRM_39' OR runconfig_name CONTAINS 'DRM_389') AND runconfig_added_on < datetime(2018-12-12)</a>: Only use the data coming from run configuration added before 2018-12-12 and containing either DRM_39 or DRM_389 in name
        </li>
    </ol>
</div>
