<!DOCTYPE html>
{% load static %}
{% load account %}
{% url 'CIResults-index' as home_url %}
{% url 'CIResults-issue' 'create' as file_issue_url %}
{% url 'CIResults-issues-list' as issues_list_url %}
{% url 'CIResults-machines' as machines_list_url %}
{% url 'CIResults-tests' as tests_list_url %}
{% url 'CIResults-tests-massrename' as tests_massrename_url %}
{% url 'CIResults-results' as result_all %}
{% url 'CIResults-knownfailures' as result_knownfailures %}
{% url 'CIResults-compare' as result_compare %}
{% url 'CIResults-metrics-issues' as metrics_issues_url %}
{% url 'CIResults-metrics-bugs' as metrics_bugs_url %}
{% url 'CIResults-metrics-comments' as metrics_comments_url %}
{% url 'CIResults-metrics-passrate-per-runconfig' as metrics_passrate_per_runconfig_url %}
{% url 'CIResults-metrics-passrate-per-test' as metrics_passrate_per_test_url %}
{% url 'CIResults-metrics-runtime' as metrics_runtime_url %}
<html lang="en">
    <head>
        <title>
            {% block title %}
            {% endblock title %}
        - CI Bug Log</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
              crossorigin="anonymous">
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="{% static 'css/ciresults.css' %}">
        <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
        <!-- load jquery early, as we often need it during loading time -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
                integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
                crossorigin="anonymous"
                referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/g/filesaver.js"></script>
    </head>
    <body class="navbar_fixed">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-body-tertiary">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ home_url }}">
                        <img alt="logo"
                             height="20px"
                             width="20px"
                             src="{% static 'img/logo.svg' %}" />
                    </a>
                    <a class="navbar-brand" href="{{ home_url }}">CI Bug Log</a>
                </div>
                <button type="button"
                        class="navbar-toggler"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbar-collapse"
                        aria-controls="navbar-collapse"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item {% if request.path == home_url %}active{% endif %}">
                            <a class="nav-link" href="{{ home_url }}">Home</a>
                        </li>
                        <li class="nav-item dropdown {% if "/issue/" in request.path %}active{% endif %}">
                            <a href="#"
                               class="nav-link dropdown-toggle"
                               data-bs-toggle="dropdown"
                               role="button"
                               aria-haspopup="true"
                               aria-expanded="false">Issues<span class="caret"></span></a>
                            <div class="dropdown-menu">
                                {% if perms.CIResults.change_issue %}
                                    <a class="dropdown-item
                                              {% if request.path == file_issue_url %}active{% endif %}"
                                       href="{{ file_issue_url }}">File issue</a>
                                    <div class="dropdown-divider"></div>
                                {% endif %}
                                <a class="dropdown-item"
                                   href="{{ issues_list_url }}?query=expected+%3D+FALSE+AND+archived_on+=+NONE">Active Issues</a>
                                <a class="dropdown-item"
                                   href="{{ issues_list_url }}?query=expected+%3D+TRUE+AND+archived_on+=+NONE">Expected Issues</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item"
                                   href="{{ issues_list_url }}?query=NOT+archived_on+=+NONE">Archived Issues</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown {% if "/bug/" in request.path %}active{% endif %}">
                            <a href="#"
                               class="nav-link dropdown-toggle"
                               data-bs-toggle="dropdown"
                               role="button"
                               aria-haspopup="true"
                               aria-expanded="false">Bugs<span class="caret"></span></a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'CIResults-bug-open-list' %}">Open bugs</a>
                                {% if perms.CIResults.change_replicationscript %}
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item"
                                       href="{% url 'CIResults-replication-script-list' %}">Replication scripts</a>
                                {% endif %}
                            </div>
                        </li>
                        <li class="nav-item {% if "/machine/" in request.path %}active{% endif %}">
                            <a class="nav-link" href="{{ machines_list_url }}">Machines</a>
                        </li>
                        {% if perms.CIResults.change_test %}
                            <li class="nav-item dropdown {% if "/test/" in request.path %}active{% endif %}">
                                <a href="#"
                                   class="nav-link dropdown-toggle"
                                   data-bs-toggle="dropdown"
                                   role="button"
                                   aria-haspopup="true"
                                   aria-expanded="false">Tests<span class="caret"></span></a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{{ tests_list_url }}">Tests list</a>
                                    <a class="dropdown-item" href="{{ tests_massrename_url }}">Mass rename</a>
                                </div>
                            </li>
                        {% else %}
                            <li class="nav-item
                                       {% if request.path == tests_list_url %}active{% endif %}">
                                <a class="nav-link" href="{{ tests_list_url }}">Tests</a>
                            </li>
                        {% endif %}
                        <li class="nav-item dropdown
                                   {% if request.path == result_all or request.path == result_knownfailures %}active{% endif %}">
                            <a href="#"
                               class="nav-link dropdown-toggle"
                               data-bs-toggle="dropdown"
                               role="button"
                               aria-haspopup="true"
                               aria-expanded="false">Results<span class="caret"></span></a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ result_all }}">All results</a>
                                <a class="dropdown-item" href="{{ result_knownfailures }}">Known failures</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ result_compare }}">Compare</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown {% if "/metrics/" in request.path %}active{% endif %}">
                            <a href="#"
                               class="nav-link dropdown-toggle"
                               data-bs-toggle="dropdown"
                               role="button"
                               aria-haspopup="true"
                               aria-expanded="false">Metrics<span class="caret"></span></a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ metrics_issues_url }}">Issue trend</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ metrics_bugs_url }}">Bug trend</a>
                                <a class="dropdown-item" href="{{ metrics_comments_url }}">Comments trend</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ metrics_passrate_per_runconfig_url }}">Pass rate per run</a>
                                <a class="dropdown-item" href="{{ metrics_passrate_per_test_url }}">Pass rate per test</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ metrics_runtime_url }}">Run time</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav ms-auto">
                        <li class="nav-item dropdown">
                            <button class="btn btn-link nav-link dropdown-toggle"
                                    type="button"
                                    id="bd-theme"
                                    data-bs-toggle="dropdown"
                                    label="switch theme">
                                <i class="bi theme-icon-active"></i>
                                <span class="d-lg-none ms-2" id="bd-theme-text">Toggle theme</span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li>
                                    <button type="button" class="dropdown-item" data-bs-theme-value="dark">
                                        <i class="bi bi-moon-stars-fill"></i> Dark
                                    </button>
                                </li>
                                <li>
                                    <button type="button" class="dropdown-item" data-bs-theme-value="light">
                                        <i class="bi bi-sun-fill"></i> Light
                                    </button>
                                </li>
                                <li>
                                    <button type="button" class="dropdown-item" data-bs-theme-value="auto">
                                        <i class="bi bi-circle-half"></i> Auto
                                    </button>
                                </li>
                            </ul>
                        </li>
                        {% if user.is_authenticated %}
                            <li class="nav-item dropdown">
                                <a href="#"
                                   class="nav-link dropdown-toggle"
                                   data-bs-toggle="dropdown"
                                   role="button"
                                   aria-haspopup="true"
                                   aria-expanded="false">{% user_display user %}<span class="caret"></span></a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a class="dropdown-item" href="{% url 'account_email' %}">Change E-mail</a>
                                    <a class="dropdown-item" href="{% url 'socialaccount_connections' %}">Auth providers</a>
                                    <a class="dropdown-item" href="{% url 'account_logout' %}">Sign Out</a>
                                </div>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'account_login' %}">Sign In</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Keep the csrf token available to every page -->
        {% csrf_token %}
        <div class="main_body container-fluid">
            {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="alert"
                            aria-label="Close"
                            aria-hidden="true"></button>
                    {{ message }}
                </div>
            {% endfor %}
            {% block content %}
            {% endblock content %}
        </div>
        <footer class="small text-muted text-center">
            {% if cibuglog.version is not None %}
                <p>
                    <a href="{{ cibuglog.project_url }}">CI Bug Log</a> version <a href="{{ cibuglog.version_url }}">{{ cibuglog.version }}
                    </p>
                </a>
            {% endif %}
            <p>
                Generated on the {% now "jS F Y H:i:s" %} (UTC).
                {% if cibuglog.admin_email is not None %}<a href="mailto:{{ cibuglog.admin_email }}">Contact</a>.{% endif %}
            </p>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
                crossorigin="anonymous"></script>
        <script src="{% static 'js/sorttable.js' %}"></script>
        <script src="{% static 'js/dualListbox.js' %}"></script>
        <script src="{% static 'js/dynamicModal.js' %}"></script>
        <script src="{% static 'js/helpers.js' %}"></script>
        <script src="{% static 'js/color-mode-toggler.js' %}"></script>
    </body>
</html>
