{% extends "CIResults/base.html" %}
{% load runconfig_diff %}
{% block title %}
    Compare results
{% endblock title %}
{% block content %}
    {% load humanize %}
    <form class="row g-3" method="get">
        <h3 class="col-12">Compare runconfigs</h3>
        <div class="col-md-6 {% if from_error %}has-error{% endif %}">
            <div class="input-group">
                <span class="input-group-text">From</span>
                <input list="runconfigs"
                       id="formRunconfigFrom"
                       name="from"
                       class="form-control"
                       placeholder="From"
                       value="{{ diff.runcfg_from.name }}">
            </div>
        </div>
        <div class="col-md-6 {% if to_error %}has-error{% endif %}">
            <div class="input-group">
                <span class="input-group-text">To</span>
                <input list="runconfigs"
                       id="formRunconfigTo"
                       name="to"
                       class="form-control"
                       placeholder="To"
                       value="{{ diff.runcfg_to.name }}">
            </div>
        </div>
        <datalist id="runconfigs">
            {% for runconfig in runconfigs %}<option value="{{ runconfig.name }}"></option>{% endfor %}
        </datalist>
        <div class="collapse" id="advancedCollapse">
            <div class="card card-body m-0">
                <div>{% include "CIResults/basic/user_filtering_searchbox.html" with query=query is_embeded=True %}</div>
                <div class="form-check">
                    <input class="form-check-input"
                           type="checkbox"
                           id="nocompress-check"
                           name="nocompress"
                           {% if diff.no_compress %}checked{% endif %}>
                    <label class="form-check-label"
                           for="nocompress-check"
                           title="Show all failures instead of compressing them by saying '+X similar issues'">
                        Do not compress results (+N ...)
                    </label>
                </div>
            </div>
        </div>
        <div class="col-12 mt-3">
            <button class="btn btn-outline-secondary"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#advancedCollapse">Advanced</button>
            <button type="submit" class="btn btn-primary">Compare</button>
        </div>
    </form>
    <hr />
    <div class="runconfig_diff">{{ html_result }}</div>
{% endblock content %}
