{% extends "CIResults/knownfailure_list.html" %}
{% load helpers %}
{% block title %}
    Filter history
{% endblock title %}
{% block information %}
    <div class="card">
        <div class="card-header bg-primary text-white">Details about {{ ifa }}</div>
        <div class="card-body">
            <table class="table table-striped table-hover table-bordered table-sm sortable">
                <thead>
                    <tr>
                        <th>Key</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Status</td>
                        <td>
                            {% if ifa.active %}
                                ACTIVE
                            {% else %}
                                ARCHIVED
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Issue associated</td>
                        <td>{% include "CIResults/basic/issue.html" with issue=ifa.issue %}</td>
                    </tr>
                    <tr>
                        <td>Active period</td>
                        <td>{{ ifa.added_on }} - {{ ifa.archived_on|default:"Now" }}</td>
                    </tr>
                    <tr>
                        <td>Filter description</td>
                        <td>{{ ifa.filter.description }}</td>
                    </tr>
                    <tr>
                        <td>RunConfig tags</td>
                        <td>{{ ifa.filter.tags.all|csl:"tag:CIResults/basic/tag.html" }}</td>
                    </tr>
                    <tr>
                        <td>Machine tags</td>
                        <td>{{ ifa.filter.machine_tags.all|csl:"machine_tag:CIResults/basic/machine_tag.html" }}</td>
                    </tr>
                    <tr>
                        <td>Machines</td>
                        <td>{{ ifa.filter.machines.all|csl:"machine:CIResults/basic/machine.html" }}</td>
                    </tr>
                    <tr>
                        <td>Tests</td>
                        <td>{{ ifa.filter.tests.all|csl:"test:CIResults/basic/test.html" }}</td>
                    </tr>
                    <tr>
                        <td>Statuses</td>
                        <td>{{ ifa.filter.statuses.all|csl:"status:CIResults/basic/textstatus.html" }}</td>
                    </tr>
                    <tr>
                        <td>Stdout Regex</td>
                        <td>{{ ifa.filter.stdout_regex }}</td>
                    </tr>
                    <tr>
                        <td>Stderr Regex</td>
                        <td>{{ ifa.filter.stderr_regex }}</td>
                    </tr>
                    <tr>
                        <td>Dmesg Regex</td>
                        <td>{{ ifa.filter.dmesg_regex }}</td>
                    </tr>
                    <tr>
                        <td>User query</td>
                        <td>
                            <a href="{% url 'CIResults-results' %}?query={{ ifa.filter.equivalent_user_query|urlencode }}">{{ ifa.filter.equivalent_user_query|escape }}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <h2>Associated failures</h2>
{% endblock information %}
