{% extends "CIResults/knownfailure_list.html" %}
{% block title %}
    Issue history
{% endblock title %}
{% block information %}
    <div class="card">
        <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
            Details about {{ issue }}
            {% if perms.CIResults.hide_issue or perms.CIResults.show_issue or perms.CIResults.change_issue or perms.CIResults.archive_issue or perms.CIResults.restore_issue %}
                <div class="btn-group my-auto">
                    <button type="button"
                            class="btn dropdown-toggle bg-body"
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        <i class="bi bi-list"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end">
                        {% if not issue.expected and perms.CIResults.hide_issue %}
                            <a class="dropdown-item"
                               href="{% url 'CIResults-issue' issue.id 'hide' %}"
                               title="Mark this issue as expected and hide it from the active list"
                               data-confirmation="Are you sure you want to mark this issue as expected, and hide it from the active issues?"
                               data-confirmation-reload><i class="bi bi-eye-slash"></i> Mark as expected</a>
                        {% elif issue.expected and perms.CIResults.show_issue %}
                            <a class="dropdown-item"
                               href="{% url 'CIResults-issue' issue.id 'show' %}"
                               title="Mark this issue as unexpected and show it in the active list"
                               data-confirmation="Are you sure you want to mark this issue as unexpected, and make it appear in the list of active issues?"
                               data-confirmation-reload><i class="bi bi-eye"></i> Mark as unexpected</a>
                        {% endif %}
                        {% if not issue.archived %}
                            {% if perms.CIResults.change_issue %}
                                <a class="dropdown-item"
                                   href="{% url 'CIResults-issue' issue.id 'edit' %}"
                                   data-bs-toggle="tooltip"
                                   title="Edit the issue"><i class="bi bi-pencil"></i> Edit</a>
                            {% endif %}
                            {% if perms.CIResults.archive_issue %}
                                <a class="dropdown-item" href="{% url 'CIResults-issue' issue.id 'archive' %}" data-bs-toggle="tooltip" title="Delete/Archive the issue" data-confirmation="
                                    <p>Are you sure you want to archive the covering the following bugs?</p>
                                    <ul>
                                        {% for bug in issue.bugs_cached %}<li>{{ bug }}</li>{% endfor %}
                                    </ul>
                                " data-confirmation-reload><i class="bi bi-archive"></i> Archive this issue</a>
                            {% endif %}
                        {% elif issue.archived and perms.CIResults.restore_issue %}
                            <a class="dropdown-item" href="{% url 'CIResults-issue' issue.id 'restore' %}" data-bs-toggle="tooltip" title="Restore the issue" data-confirmation="
                                <p>Are you sure you want to restore the covering the following bugs?</p>
                                <ul>
                                    {% for bug in issue.bugs_cached %}<li>{{ bug }}</li>{% endfor %}
                                </ul>
                            " data-confirmation-reload><i class="bi bi-save2"></i> Restore this issue</a>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="card-body">
            <table class="table table-striped table-hover table-bordered table-sm sortable">
                <thead>
                    <tr>
                        <th>Key</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Status</td>
                        <td>
                            {% if not issue.archived %}
                                ACTIVE
                            {% else %}
                                ARCHIVED
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Overall reproduction rate</td>
                        <td>{{ issue.failure_rate }}</td>
                    </tr>
                    <tr>
                        <td>Last seen</td>
                        <td>{{ issue.last_seen|default_if_none:"Never" }}</td>
                    </tr>
                    <tr>
                        <td>Added by</td>
                        <td>
                            {% if issue.added_by %}
                                {% include "CIResults/basic/user.html" with user=issue.added_by %}
                            {% else %}
                                <a href='mailto: {{ issue.filer }}'>{{ issue.filer }}</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% if issue.archived_by %}
                        <tr>
                            <td>Archived by</td>
                            <td>{% include "CIResults/basic/user.html" with user=issue.archived_by %}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td>Bugs associated</td>
                        <td>
                            <ul>
                                {% for bug in issue.bugs_cached %}
                                    <li>
                                        {% include "CIResults/basic/bug.html" %}
                                        - {{ bug.title }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Active filters</td>
                        <td>
                            <ul>
                                {% for ifa in issue.active_filters %}
                                    <li>
                                        {% include "CIResults/basic/ifa.html" %}
                                        -
                                        {% include "CIResults/basic/set_as_query.html" with object=ifa.filter %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Past filters</td>
                        <td>
                            <ul>
                                {% for ifa in issue.past_filters %}
                                    <li>
                                        {% include "CIResults/basic/ifa.html" %}
                                        -
                                        {% include "CIResults/basic/set_as_query.html" with object=ifa.filter %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    {% if issue.description %}
                        <tr>
                            <td>Description</td>
                            <td>{{ issue.description }}</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <h2>Associated failures</h2>
{% endblock information %}
