{% extends "CIResults/base.html" %}
{% block title %}
    Machine Edit
{% endblock title %}
{% block content %}
    <div class="card">
        <div class="card-header bg-primary text-white">Edit the machine {{ machine }}</div>
        <div class="card-body collapse show">
            <div class="container-fluid">
                <form class="search_bar" method='post'>
                    {% csrf_token %}
                    <table class="table table-striped table-hover table-bordered table-sm">
                        {{ form.as_table }}
                    </table>
                    <button type="submit" class="btn btn-primary mb-2">Edit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
