{% extends "CIResults/base.html" %}
{% block title %}
    Machine List
{% endblock title %}
{% block content %}
    <div class="card">
        <div class="card-header bg-primary text-white">
            Machine list (
            {% if page_obj is not None %}
                {{ page_obj.paginator.count }}
            {% else %}
                {{ object_list|length }}
            {% endif %}
            )
        </div>
        <div class="card-body">
            <div class="container-fluid">
                <table class="table table-striped table-hover table-bordered table-sm sortable global-filtrable">
                    <thead class="align-top">
                        <tr>
                            <th data-filtrable-name="name">Machine name</th>
                            <th data-filtrable-name="aliases">Aliases</th>
                            <th data-filtrable-name="added_on" class="filtrable-date">Added on</th>
                            <th data-filtrable-name="vetted_on" class="filtrable-date">Vetted on</th>
                            <th data-filtrable-name="tags">Tags</th>
                            <th data-filtrable-name="description">Description</th>
                            <th class="sorttable_nosort filtrable-nofilter">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for machine in object_list %}
                            <tr>
                                <td>{% include "CIResults/basic/machine.html" with machine=machine %}</td>
                                <td>
                                    {% if machine.aliases %}
                                        {% include "CIResults/basic/machine.html" with machine=machine.aliases %}
                                    {% else %}
                                        None
                                    {% endif %}
                                </td>
                                <td data-sorttable-customkey="{{ machine.added_on|date:'U' }}">{{ machine.added_on }}</td>
                                <td data-sorttable-customkey="{{ machine.vetted_on|date:'U' }}">{{ machine.vetted_on }}</td>
                                <td data-sorttable-customkey="{{ machine.vetted_on|date:'U' }}">
                                    {% for tag in machine.tags.all %}<span class="badge bg-secondary me-1">{{ tag }}</span>{% endfor %}
                                </td>
                                <td data-sorttable-customkey="{{ machine.vetted_on|date:'U' }}">{{ machine.description }}</td>
                                <td>
                                    {% if perms.CIResults.change_machine %}
                                        <a href="{% url 'CIResults-machine-edit' machine.id %}"
                                           class="btn btn-primary btn-sm">Edit</a>
                                    {% endif %}
                                    <a href="{% url 'CIResults-machine-detail' machine.id %}"
                                       class="btn btn-secondary btn-sm">History</a>
                                    {% if machine.vetted_on != None and perms.CIResults.suppress_machine %}
                                        <button onclick="sendPostActionRequestAndRefresh(`{% url 'api:machine-suppress' machine.id %}`);"
                                                class="btn btn-warning btn-sm"
                                                type="button">Suppress</button>
                                    {% elif machine.vetted_on == None and perms.CIResults.vet_machine %}
                                        <button onclick="sendPostActionRequestAndRefresh(`{% url 'api:machine-vet' machine.id %}`);"
                                                class="btn btn-warning btn-sm"
                                                type="button">Vet</button>
                                    {% endif %}
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="7" class="text-center">No machines yet</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if page_obj is not None %}
                    {% include "CIResults/basic/paginator.html" %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
