{% extends "CIResults/base.html" %}
{% block title %}
    Replication Script List
{% endblock title %}
{% block content %}
    <div class="col-md-6 offset-md-3">
        <a type="button"
           class="btn btn-success float-end mb-2"
           href="{% url 'CIResults-replication-script-create' %}">New script</a>
        <table class="table table-striped table-hover table-bordered table-sm sortable"
               id="table-rep-scripts">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Enabled</th>
                    <th>Source Tracker</th>
                    <th>Destination Tracker</th>
                </tr>
            </thead>
            <tbody>
                {% for script in script_list %}
                    <tr id="script_{{ forloop.counter0 }}">
                        <!-- Bug Status -->
                        <td>
                            <ul>
                                <a href="{% url 'CIResults-replication-script-edit' script.id %}">{{ script.name }}</a>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                {{ script.enabled|yesno:"Enabled,Disabled" }}
                            </ul>
                        </td>
                        <td>
                            <ul>
                                {{ script.source_tracker }}
                            </ul>
                        </td>
                        <td>
                            <ul>
                                {{ script.destination_tracker }}
                            </ul>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4" style="text-align: center;">No replication scripts found.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
