{% extends "CIResults/base.html" %}
{% load static %}
{% block title %}
    Replication Script
{% endblock title %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/replication.css' %}">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/ladda-bootstrap/0.9.4/ladda.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/addon/merge/merge.min.css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/addon/display/fullscreen.min.css" />
    <link rel="stylesheet"
          href="https://cdn.datatables.net/1.13.5/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet"
          href="https://cdn.datatables.net/buttons/2.4.0/css/buttons.bootstrap5.min.css" />
    <div class="main_body container-fluid">
        <div class="modal fade"
             id="diff_modal"
             tabindex="-1"
             role="dialog"
             aria-labelledby="diffModal"
             aria-hidden="true">
            <div class="modal-dialog modal-lg"
                 role="document"
                 style="width:100%;
                        margin:0 auto">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle"
                                    type="button"
                                    id="diff_dropdown"
                                    data-bs-toggle="dropdown">
                                Script Revisions
                                <span class="caret"></span>
                            </button>
                            <div class="dropdown-menu pre-scrollable" id="diff_dd_list"></div>
                        </div>
                    </div>
                    <div id="diff_body" class="modal-body">
                        <div class="row">
                            <div class="left col-6 text-center">
                                <h3>Current</h3>
                            </div>
                            <div class="right col-6 text-center">
                                <h3 id="version_title"></h3>
                            </div>
                        </div>
                        <div id="diff_view"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button id="update_script"
                                type="button"
                                class="btn btn-primary"
                                data-bs-dismiss="modal">Update Script</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header bg-primary text-white">
                {% if 'create' in request.resolver_match.view_name %}
                    Create ReplicationScript
                {% else %}
                    Edit ReplicationScript
                {% endif %}
            </div>
            <div class="card-body">
                <div class="container-fluid">
                    <form method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-4">
                                <div class="fieldWrapper">
                                    {% for field in form %}
                                        <div class="row">
                                            <div class="col">
                                                {{ field.errors }}
                                                {{ field.label_tag }} {{ field }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <div class="btn-toolbar" role="group">
                                        <a href="https://gfx-ci.pages.freedesktop.org/cibuglog/docs/replication/replication.html"
                                           target="_blank">
                                            <button type="button" class="btn btn-secondary me-1">View Script API</button>
                                        </a>
                                        <label id="view_history"
                                               type="button"
                                               class="btn btn-primary"
                                               data-bs-toggle="modal"
                                               data-bs-target="#diff_modal"
                                               style="display:none">Script history</label>
                                        <label type="button" class="btn btn-secondary btn-file me-1">
                                            Import Script
                                            <input id="script_file" type="file" style="display: none;">
                                        </label>
                                        <label type="button" class="btn btn-secondary">
                                            Export Script
                                            <input id="script_file_save" style="display: none;">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-8">
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li>
                                        <a data-bs-toggle="tab" href="#bt_svd_wrapper">Saved Script Result</a>
                                    </li>
                                    <li>
                                        <a class="btn btn-secondary" data-bs-toggle="tab" href="#bt_res_wrapper">Edited Script Result</a>
                                    </li>
                                </ul>
                                <div class="card" style="height:75vh;overflow-y:scroll;">
                                    <div class="tab-content">
                                        <div id="bt_svd_wrapper"
                                             class="table-responsive tab-pane"
                                             style="overflow:visible">
                                            <label id="svd_search" style="margin-right:20px;">
                                                Filter IDs:
                                                <input id="svd_search_box"
                                                       type="search"
                                                       class="form-control form-control-sm">
                                            </label>
                                            <table id="bug_table_saved"
                                                   class="table table-striped table-bordered"
                                                   style="width:100%">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Source Bug ID</th>
                                                        <th scope="col">Status</th>
                                                        <th scope="col">Title</th>
                                                        <th scope="col">Priority/Severity</th>
                                                        <th scope="col">Replication Operation</th>
                                                        <th scope="col">Fields to Set</th>
                                                        <th scope="col">Comments to Add</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {# djlint:off H020 #}{# djlint:on #}
                                                </tbody>
                                            </table>
                                        </div>
                                        <div id="bt_res_wrapper"
                                             class="table-responsive tab-pane table-active"
                                             style="overflow:visible">
                                            <label id="res_search" style="margin-right:20px;">
                                                Filter IDs:
                                                <input id="res_search_box"
                                                       type="search"
                                                       class="form-control form-control-sm">
                                            </label>
                                            <table id="bug_table_res"
                                                   class="table table-striped table-bordered"
                                                   style="width:100%">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Source Bug ID</th>
                                                        <th scope="col">Status</th>
                                                        <th scope="col">Title</th>
                                                        <th scope="col">Priority/Severity</th>
                                                        <th scope="col">Replication Operation</th>
                                                        <th scope="col">Fields to Set</th>
                                                        <th scope="col">Comments to Add</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {# djlint:off H020 #}{# djlint:on #}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div id="script_btns" class="btn-toolbar" role="group">
                                    <button id="get_table"
                                            type="button"
                                            class="btn btn-primary ladda-button"
                                            data-size="s"
                                            data-color="blue"
                                            data-style="expand-right">
                                        <span class="ladda-label">Check Script Result</span>
                                    </button>
                                    <button id="save_btn" type="submit" class="btn btn-primary mb-2 save_btn">Save</button>
                                </div>
                            </div>
                            <script>
                $(document).ready(function(){
                  var token = '{{ csrf_token }}'
                  var l = Ladda.create($("#get_table")[0]);
                  url = '{% url "CIResults-replication-script-check" %}'
                  $("<p>Press 'F11' in editor to toggle fullscreen editing</p>").insertAfter($("#{{ form.script.auto_id}}"))
                  script_box = $("#{{ form.script.auto_id}}")[0]
                  var editor = python_editor(script_box)
                  var edit_mode = false

                  // Check if we are creating or editing script
                  if ("{{ object }}") {
                    dv = init_diff("diff_view", editor)
                    $("#view_history").show()
                    edit_mode = true
                    var sav_table = create_datatable('#bug_table_saved')
                    svd_scr = "{{ object.script|escapejs }}"
                    svd_src_tracker = "{{ object.source_tracker }}"
                    svd_dest_tracker = "{{ object.destination_tracker }}"
                    script_history = JSON.parse("{{ object.script_history|escapejs }}")

                    script_history.forEach(add_hist)
                    function add_hist(item, index) {
                      var $li = $('<li />')
                      var $btn = $('<a />', {
                        'class': "dropdown-item",
                        text: "Version " + (index + 1)})
                      $li.append($btn)
                      $btn.click(item, function() {
                        $("#version_title").text($(this).text())
                        dv.rightOriginal().setValue(item['script'])
                      })
                      $("#diff_dd_list").append($li)
                    }

                    $("#view_history").click(function() {
                      dv.editor().setValue(editor.getValue())
                      dv.rightOriginal().setValue("")
                      $("#version_title").text("")
                    })

                    $("#update_script").click(function() {
                      editor.setValue(dv.editor().getValue())
                    })

                    $("#diff_modal").on('shown.bs.modal', function() {
                      dv.editor().refresh()
                      dv.rightOriginal().refresh()
                    })

                    check_script(svd_scr, svd_src_tracker, svd_dest_tracker, sav_table, url, l, token)
                  } else {
                    $('.nav-tabs a[href="#bt_svd_wrapper"]').hide()
                    $('.nav-tabs a[href="#bt_res_wrapper"]').text("Script Result")
                    editor.setValue(dummy_script)
                  }

                  setup_import_script("#script_file", editor)
                  setup_export_script("#script_file_save", editor, "replication_script.py")
                  var edit_table = create_datatable('#bug_table_res')

                  $("#get_table").click(function(){
                    $("#bug_table_res > tbody").empty()
                    scr = editor.getValue()
                    src_selection = $("#{{ form.source_tracker.auto_id }} option:selected")
                    dest_selection = $("#{{ form.destination_tracker.auto_id }} option:selected")
                    if (src_selection.index() < 1) {
                      alert("Please select a source tracker")
                      return
                    }
                    if (dest_selection.index() < 1) {
                      alert("Please select a destination tracker")
                      return
                    }
                    src_tracker = src_selection.text()
                    dest_tracker = dest_selection.text()
                    check_script(scr, src_tracker, dest_tracker, edit_table, url, l, token)

                  })
                  $('.nav-tabs a[href="#bt_svd_wrapper"]').on('shown.bs.tab', function(e){
                      edit_table.buttons().nodes().addClass('d-none')
                      sav_table.buttons().nodes().removeClass('d-none')
                    }
                  )
                  edit_table.buttons().container().appendTo('#script_btns')

                  if (edit_mode === true) {
                    $('.nav-tabs a[href="#bt_res_wrapper"]').on('shown.bs.tab', function(e){
                        sav_table.buttons().nodes().addClass('d-none')
                        edit_table.buttons().nodes().removeClass('d-none')
                      }
                    )
                    sav_table.buttons().container().appendTo('#script_btns')
                    $('.nav-tabs a[href="#bt_svd_wrapper"]').tab('show')
                    $('#svd_search_box').on('keyup', function() {
                      sav_table.columns(0).search(this.value).draw();
                    })
                    $('#bug_table_saved_filter').prepend($("#svd_search"))
                    child_listener("#bug_table_saved", sav_table)
                  } else {
                    $('.nav-tabs a[href="#bt_res_wrapper"]').tab('show')
                  }

                  $('#res_search_box').on('keyup', function() {
                    edit_table.columns(0).search(this.value).draw();
                  })
                  $('#bug_table_res_filter').prepend($("#res_search"))
                  child_listener("#bug_table_res", edit_table)

                  editor.on('change', (function(){
                    $("#save_btn").hide()
                  }))
                })
                            </script>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/diff_match_patch/20121119/diff_match_patch.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/addon/merge/merge.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/addon/display/fullscreen.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/python/python.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ladda-bootstrap/0.9.4/spin.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ladda-bootstrap/0.9.4/ladda.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ladda-bootstrap/0.9.4/ladda.jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.0/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.0/js/buttons.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.0/js/buttons.colVis.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.0/js/buttons.html5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/renderjson@1.4.0/renderjson.min.js"></script>
    <script src="{% static 'js/replication.js' %}"></script>
{% endblock content %}
