{% extends "CIResults/knownfailure_list.html" %}
{% load helpers %}
{% block title %}
    Test history
{% endblock title %}
{% block information %}
    <div class="card">
        <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
            Details about the test {{ test }}
            <div class="btn-group my-auto">
                {% if perms.CIResults.change_test %}
                    <button type="button"
                            class="btn btn-secondary dropdown-toggle"
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        <i class="bi bi-list"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-endight">
                        {% if perms.CIResults.change_test %}
                            <a class="dropdown-item" href="{% url 'CIResults-test-edit' test.id %}"><i class="bi bi-pencil"></i> Edit</a>
                        {% endif %}
                        {% if test.vetted_on != None and perms.CIResults.suppress_test %}
                            <button class="dropdown-item"
                                    onclick="sendPostActionRequestAndRefresh('{% url 'api:test-suppress' test.id %}');">
                                <i class="bi bi-hand-thumbs-down"></i> Suppress
                            </button>
                        {% elif test.vetted_on == None and perms.CIResults.vet_test %}
                            <button class="dropdown-item"
                                    onclick="sendPostActionRequestAndRefresh('{% url 'api:test-vet' test.id %}');">
                                <i class="bi bi-hand-thumbs-up"></i> Vet
                            </button>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="card-body">
            <table class="table table-striped table-hover table-bordered table-sm sortable">
                <thead>
                    <tr>
                        <th>Key</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Test suite</td>
                        <td>{% include "CIResults/basic/testsuite.html" with testsuite=test.testsuite %}</td>
                    </tr>
                    <tr>
                        <td>Added On</td>
                        <td>{{ test.added_on }}</td>
                    </tr>
                    <tr>
                        <td>Vetted On</td>
                        <td>{{ test.vetted_on|default:"Not vetted yet" }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <h2>Associated failures</h2>
{% endblock information %}
