{% extends "CIResults/base.html" %}
{% block title %}
    Test Rename
{% endblock title %}
{% block content %}
    <div class="card">
        <div class="card-header bg-secondary text-white">
            Information about the renaming process (MUST-READ before doing any action)
        </div>
        <div class="card-body collapse show">
            This page allows you to rename '{{ test }}':
            <ul>
                <li>The test will not be modified</li>
                <li>A new test will be created with the new name (if needed)</li>
                <li>
                    The new test's <strong>public</strong> attribute will be set to <strong>{{ test.public }}</strong>
                </li>
                <li>
                    The new test's <strong>vetted_on</strong> attribute will be set to <strong>{{ test.vetted_on }}</strong>
                </li>
                <li>The new tests will be added to the list of issues that were referencing '{{ test }}'</li>
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="card-header bg-primary text-white">Rename {{ test }} into ...</div>
        <div class="card-body collapse show">
            <div class="container-fluid">
                <form class="d-flex flex-row align-items-center flex-wrap search_bar"
                      method='post'>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary mb-2">Rename</button>
                </form>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header bg-secondary text-white">The renaming would add the new test to the following issues:</div>
        <div class="card-body collapse show">
            <div class="container-fluid">
                <table class="table table-striped table-hover table-bordered table-sm sortable">
                    <thead>
                        <tr>
                            <th>Issue</th>
                            <th>Filter</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ifa in test.in_active_ifas %}
                            <tr>
                                <td>{% include "CIResults/basic/issue.html" with issue=ifa.issue %}</td>
                                <td>{% include "CIResults/basic/ifa.html" with ifa=ifa %}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="2" class="text-center">No issues reference this test</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}
