{% extends "CIResults/base.html" %}
{% block title %}
    Test Edit
{% endblock title %}
{% block content %}
    <div class="card">
        <div class="card-header bg-primary text-white">Edit {{ test }}</div>
        <div class="card-body collapse show">
            <div class="container-fluid">
                <form class="search_bar" method='post'>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary mb-2">Edit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
